<div>
    <h1>Hello @ViewBag.Username!</h1>
    <h2>Shadi Jam</h2>
    <h3>Background and Education</h3>
    <p>Born in Tehran, Shadi was raised in Houston as well as Norway. She attended university in the UK and is licensed to practice law in New York.</p>
    <h3>Experience</h3>
    <p>Shadi has extensive experience in small and large scale event management. 
    <h3>Interests</3>
    <p> Most of Shadi's time is spent swimming, reading sci-fi novels, planning adventurous holidays and then going on them.</p>
    <button><a href ="/">Home</a></button>
    <button>Portfolio</button>
    <button><a href ="/Blog/GetAll">Blog</a></button>
    <!--<p>@Model</p>-->
</div>