<div>
    <h1>Hello @ViewBag.Username!</h1>
    <p>Welcome to the Shadi Jam Portfolio!</p>
    <p>Pick your poison by clicking below!</p>
    <button>Portfolio</button>
    <button>Blog</button>
    <!--<p>@Model</p>-->
</div>