@model IEnumerable<Post>

Delete Post

<form asp-controller="Post" asp-action="Delete">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title"/>
    </div>

    <div>
        <label asp-for="Content"/></label>
        <input asp-for="Content"/>
    </div>

    <input asp-for="Id" type="hidden"/>

    <button type="delete">Delete</button>
</form>