@model IEnumerable<Post>

Edit Post

<form asp-controller="Put" asp-action="Edit">
    <div>
        <label asp-for="Title"/></label>
        <input asp-for="Title"/>
    </div>

    <div>
        <label asp-for="Content"/></label>
        <input asp-for="Content"/>
    </div>

    <input asp-for="Id" type="hidden"/>

    <button type="submit">Edit</button>
</form>