@model Post
<hr>

<div class="grid grid-2-400 grid-4-800">
    @foreach(var post in @Model.ReadAll()){
        @Html.Partial("ReadOne", post)
    }
</div>

</hr>

<p> Want to creat a <a href="/blog/post/new">new post</a>?</p>

