@model PostRepo
<hr>

<div class="GetAll">
    @foreach(var post in @Model.ReadAll){
        @Html.Partial("Get", post)
    }
</div>

</hr>

<p> Want to creat a <a href="/blog/create/new">new post</a>?</p>

